* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1f1e1f;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-todos {
  margin: 40px 0;
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px;
  border: 1px solid white;
  background-color: #353435;
}

.todo-input {
  display: flex;
  column-gap: 30px;
  background-color: #353435;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #353435;
}

.input-label {
  font-size: 18px;
  background-color: #353435;
}

.input {
  padding: 8px;
  background-color: white;
  color: black;
  width: 300px;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.input-label {
  font-size: 18px;
  background-color: #353435;
  overflow-wrap: break-word; /* Uzun metinlerin taşmasını önlemek için ekledik */
}

.input:focus {
  border: 1px solid #00e67e;
}

.input.error::placeholder {
  color: red;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 80px;
  margin-top: 28px;
  background-color: #00e67e;
  border: none;
  cursor: pointer;
  font-weight: 900;
}

.button-wrapper {
  background-color: #353435;
  margin-top: 20px;
}

.todo-button {
  padding: 10px;
  border: none;
  background-color: #00e67e;
  cursor: pointer;
  font-weight: 900;
}

.green {
  background-color: #00e67e;
}

.grey {
  background-color: #353435;
}

.completed-button {
  padding: 10px;
  border: none;
  background-color: #353435;
  cursor: pointer;
}

.todo-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease; /* Silme animasyonu için geçiş efekti eklendi */
}

.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todo-list-title {
  font-size: 24px;
  color: #00e67e;
  text-transform: capitalize;
}

.completed-list-title{
  font-size: 24px;
  color: #00e67e;
  opacity: 0.5;
  text-transform: capitalize;
}

.todo-list-description {
  color: #ccc;
  text-transform: capitalize;
}

.completed-list-description{
  color: #ccc;
  opacity: 0.5;
  text-transform: capitalize;
}

.icon-wrapper {
  display: flex;
  
  column-gap: 8px;
}

.delete-icon,
.tic-icon {
  font-size: 28px;
  cursor: pointer;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.todo-list-wrapper:hover .delete-icon,
.todo-list-wrapper:hover .tic-icon {
  opacity: 1; 
}

.delete-icon:hover,
.tic-icon:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.delete-all{
  padding: 6px;
  font-size: 18px;
  color: red;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .todo-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .todo-input {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .todo-input-item {
    width: calc(100% - 60px); 
  }
  .input {
    width: 100%;
  }
  .button-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .icon-wrapper {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .todo-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .input {
    width: calc(
      100% - 20px
    ); 
  }

  .button-wrapper {
    row-gap: 5px;
  }

  .todo-list-title {
    font-size: 20px;
  }

  .delete-icon,
  .tic-icon {
    font-size: 20px;
  }
}
